<launch>

    <node name="tdoa_positioning_ID" pkg="uwb_tests" type="tdoa_positioning" respawn="true" output="screen">
        <!-- Remaping of Optitrack positions to anchor mocap positions -->
        <remap from="/uwb/anchor/mocap/1/pose"  to="/vrpn_client_node/uwb01/pose" />
        <remap from="/uwb/anchor/mocap/2/pose"  to="/vrpn_client_node/opti02/pose" />
        <remap from="/uwb/anchor/mocap/3/pose"  to="/vrpn_client_node/uwb03/pose" />
        <remap from="/uwb/anchor/mocap/4/pose"  to="/vrpn_client_node/uwb04/pose" />
        <remap from="/uwb/anchor/mocap/5/pose"  to="/vrpn_client_node/uwb05/pose" />
        <remap from="/uwb/anchor/mocap/6/pose"  to="/vrpn_client_node/uwb06/pose" /> 

        <!-- Listerner NODE ID, node that computes the diff distances-->
        <param name="listener_id" value="5" />

        <!-- Parameters for the positioning node init -->
        <param name="uwb_range_offset" value="0.2"/>

        <!-- Max time delay for the reception of messages -->
        <param name="max_pos_delay" value="0.5"/>

        <!-- Minimum number for the node ID allowed -->
        <param name="uwb_min_id" value="1"/>

        <!-- Control printing of information -->
        <param name="verbose" value="False"/>

        <!-- Number of nodes in the sequence for TOF (Nodes in the network) -->
        <param name="number_tof_nodes" value="6"/>

        <!-- SUBSCRIBER Topic format for tdoa data (difference of distance) -->
        <param name="uwb_tdoa_topic_format" value="/uwb/{}/tdoa/{}/{}/distance"/>

        <!-- SUBSCRIBER Topic format for active node positions -->
        <param name="uwb_anchor_pose" value="/uwb/anchor/{}/pose"/>

        <!-- SUBSCRIBER Topic format for list of active nodes -->
        <param name="uwb_selected_anchors_format" value="/uwb/anchor/nodes"/>
        
        <!-- SUBSCRIBER Topic format for list of passive nodes -->
        <param name="uwb_selected_listeners_format" value="/uwb/listener/nodes"/>

        <!-- SUBSCRIBER Topic format for mocap node positions  -->
        <param name="uwb_node_mocap_pose" value="/uwb/anchor/mocap/{}/pose"/>
       
        <!-- PUBLISHER position of passive node position with ID listener_id -->
        <param name="uwb_tdoa_pub_topic_format" value="/uwb/listener/{}/pose"/>

    </node>
    
</launch>